<span class="span-h1">Dashboard</span>
<!--<button type="button" class="add-button"><i class="material-icons icon-nav">add</i></button>-->
<div class="breack-nav">
  <ul>
    <li>Dashboard ></li>
    <li class="ubication">Dashboard </li>
  </ul>
</div>
<br>
<hr>
<!--<span class="span-h1">Personas y Empleados</span>
<button type="button" class="add-button"><i class="material-icons icon-nav">add</i></button>
<div class="breack-nav">
  <ul>
    <li>Dashboard ></li>
    <li>Personas ></li>
    <li class="ubication">Empleados </li>
  </ul>
</div>
<br>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" value="carlos" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" value="cifuentes" required="required" />
        <label class="control-label" for="input">Apellido M.</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" value="ulloa" required="required" />
        <label class="control-label" for="input">Apellido P.</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" value="fidel oteiza 1975, providencia" required="required" />
        <label class="control-label" for="input">Dirección</label><i class="bar"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Apellido M.</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Apellido P.</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Dirección</label><i class="bar"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
    <div class="box grilla">
      <div class="form-group">
        <input type="text" required="required" />
        <label class="control-label" for="input">Nombre</label><i class="bar"></i>
      </div>
    </div>
  </div>
</div>

<span class="span-h2">Detalle Personas y Empleados</span>
<div class="botonera">
  <button class="btn-primary">Primary</button>
  <button class="btn-second">Second</button>
  <button class="btn-warning">Warning</button>
</div>
<hr>-->
<!--<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-12">
    <div class="box grilla">
      <div>CONTENIDO</div>
    </div>
  </div>
</div>-->
<!--<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box ficha">
      <div class="alert alert-primary">
        <span>Alert Primary</span>
      </div>
    </div>
  </div>
  <div class="alert alert-second">
    <span>Alert Second</span>
  </div>
  <div class="alert alert-warning">
    <span>Alert Especially</span>
  </div>
</div>-->