<header>
    <img src="../../assets/img/example1.jpeg" height="40" alt="example">
    <ul class="content-menu-header">
        <li class="logout">
            <span class="txt-header">Salir</span>
            <i class="material-icons exit">exit_to_app</i>
        </li>
        <li>
            <span class="txt-header">Centro de Ayuda</span>
            <i class="material-icons exit">help</i>
        </li>
        <li>
            <span class="txt-header">Servicio Cliente</span>
            <i class="material-icons exit">perm_phone_msg</i>
        </li>
        <li>
            <span class="txt-header">Información</span>
            <i class="material-icons exit">info</i>
        </li>
    </ul>
</header>